/*
 * Wrapper
 *
 * The wrapper is used to position site content when the sidebar is toggled. We
 * use an outter wrap to position the sidebar without interferring with the
 * regular page content.
 */

.wrap {
  position: relative;
  width: 100%;
}

/*
 * Container
 *
 * Center the page content.
 */

.container {
  max-width: 28rem;
  a {
    @if $theme-color != $default {
      color: $theme-color;
    }
  }
}

@media (min-width: 38em) {
  .container {
    max-width: 32rem;
    &.content {
      padding-top: 5.5rem;
    }
  }
}
@media (min-width: 56em) {
  .container {
    max-width: 43rem; // 본문 너비 origin 38rem;
  }
}

// 모바일(h2 색상 바꾸려고 초보몽키님 코드 무지성 복사 참조)
@media (max-width: 812px) {
  .container {
    &.content {
      padding-top: 5.5rem;
    }
  }
  //415px
  #search-input {
    max-width: 125px;
  }
  ul,
  ol {
    -webkit-padding-start: 15px;
  }
  h1 {
    font-size: 1.5rem;
  }
  .post h2 {
    color: #0086e5 !important;
  }
  h2,
  h3 {
    font-size: 1.3rem;
  }
}

#blog-title {
  vertical-align: text-top;
  font-size: 80%;
  color: rgba(49, 49, 49, 0.82);
}

.nav-up {
  top: -92px;
}
